@import '../../common/style/config.less';
.header {
  height: @header-height;
  background: #ddd;
  -webkit-app-region: drag;
  button {
    -webkit-app-region: no-drag; // fix button cannot click
  }
}