@import '../../common/style/config.less';
.sidebar {
  position: relative;
  width: @sidebar-width;
  height: 100%;
  background: @sidebar-background;
  padding-top: @header-height;
  -webkit-app-region: drag;
  -webkit-user-select: none;
  cursor: default;
  box-sizing: border-box;
  border-right: 1px solid #ddd;
  button {
    -webkit-app-region: no-drag; // fix button cannot click
  }
  .menu {
    margin: 0 @gutter @gutter;
    background: transparent;
    border-right: none;
  }
  .menuItem {
    margin: 0;
    height: 40px;
    line-height: 40px;
    background: transparent;
    & + .menuItem {
      margin-top: 10px;
    }
    &:global(.ant-menu-item-active) {
      background: transparent;
    }
    &:global(.ant-menu-item-selected) {
      background: #ddd;
    }
  }
}

.addTaskButtonWrapper {
  position: absolute;
  bottom: @gutter;
  left: @gutter;
  right: @gutter;
}